<section class="sectionLogin">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-6 containerDescriptionLogin">
                <div class="contanierDescriptionApp">
                    <div class="titleApp">
                        <h3 class="titleAppIdea">
                            Novatec <span class="titleIdeaBlok">Ideas</span>
                        </h3>
                    </div>
                    <div class="descriptionApp">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima atque, distinctio sequi enim odio tempora perferendis suscipit illo vitae exercitationem.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 containerCardLogin">
                <!-- <span class="h4 titlePageMobil">
                    Novatec Ideas
                </span> -->
                <div class="card cardLogin" style="width: 18rem;">
                    <img [src]="'assets/img/login/login.jpg'" alt="" class="card-img-top">
                    <div class="card-body">
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Usuario</label> -->
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">Contraseña</label> -->
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btnLogin">Iniciar sesion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
