// Variables
$backgroundDisplay : #ddd;

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $backgroundDisplay !important;
}
button {
    outline: none !important;
}
.btn:focus, .btn.focus {
    outline: 0 !important; 
    box-shadow: none !important; 
}
.containerAplication{
    background-color:$backgroundDisplay;
    width: 100%;
    height: auto;
    position: relative;
}
.sectionGeneral {
    width: 100%;
    overflow: hidden;
}
.container-app{
    display: flex;
}
.contaierFooterAplication{
    bottom: 0;
    width: 100%;
}
.clateralRightBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 0 !important;
    position: absolute;
    right: 0;
    background-color: $backgroundDisplay; 
}
.containerRoutesAplication{
    width: 100%;
}

//Estilos nabvar
/* Configuracion y estilos del Scrollbar del chat de ideas*/

.container::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.container::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}
.container::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.container::-webkit-scrollbar-thumb:active{
    background-color: #999999;
}
.container::-webkit-scrollbar-track{
    background: #e1e1e1;
    border-radius: 4px;
}
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active{
    background: #d4d4d4;
}
//Icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }