<section class="sectionAllIdeas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-6  container-link-return p-2 text-center">
                <a [routerLink]="['/home']" class="link"><i class="fas fa-arrow-left"></i> Volver al inicio</a>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 search">
                <div class="col-auto container-write-idea-board">
                    <div class="input-group group-message-send mb-2">
                        <!-- <form action="" method="POST" class="form-New-Message"> -->
                        <div class="input-group input-group-search">
                                    
                            <input type="search" class="form-control inputFilterSearch" id="inputFilterSearch" placeholder="Buscar idea por usuario" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-prepend btnFilterSearch" id="btnFilterSearch" (click)="filterIdeas()">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="filterAddIdeas">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-xl-12 filter">
                <div class="allIdeasContent row card-columns" >
                    <div class="containerIdeaCredentials col-sm-12 col-lg-3 col-xl-3 card" *ngFor="let idea of ideas; index as i" >
                        <div class="imgUserInChat">
                            <img [src]="'assets/img/userPerfil.png'" alt="">
                        </div>
                            <div class="containerNameVotes">
                                <h3 class="nameUserIdea">{{idea.user}}
                                    <ul class="containerBtnsLikesDslike">
                                    <li class="listIconsMessage">
                                        <div class="btnLikeMyHeark" >
                                            <ul class="contentBtnMyHeart" >
                                                <li>
                                                    <img [src]="'assets/img/icons/myHeart.svg'" alt="" data-toggle="tooltip" data-placement="top" title="Votos"  (click)="popLikes(i)"  class="imgHeart">
                                                    <span> {{idea.votes}} </span>
                                                </li>
                                            </ul>
                                            <ul class="votos" *ngIf="btnPopovers"  [id]="idea.id">
                                                <li class="upButton">
                                                    <img [src]="'assets/img/icons/hapy.svg'" alt="">
                                                </li>
                                                <li class="upButton">
                                                    <img [src]="'assets/img/icons/sad.svg'" alt="">
                                                </li>
                                                <li class="upButton">
                                                    <img [src]="'assets/img/icons/mee.svg'" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    </ul>
                                </h3>
                            </div>
                                  <p class="ideaMessageChatUsers ideaMessageChatUsersAllIdeas">
                                    <a [routerLink]="['/idea', i]" class="paragraphIdea">{{idea.description}}</a>
                                  </p>
                                  <div class="containerDisplayReply containerDisplayReplyAllIdeas">
                                    <h4 class="replyTitle">Comentarios
                                      <span class="btnAddNewReply" (click)="addComments(i)" >
                                          <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="left" title="Agregar respuesta"></i>
                                      </span>
                                    </h4>
                                    <ul class="elementReply list-group list-group-flush">
                      
                                    </ul>
                                  </div>
                                  <button class="btn btn-block btnSeeMoreMessage btnSeeMoreMessageAllIdeas" id="btnSeeMoreMessage" (click)="collapseIdea(i)">
                                    Ver
                                    <i class="fas fa-comment-alt answerMessage" id="answerMessage"></i>
                                    <i class="fas fa-plus iconMoreMinus iconMoreMinusAllIdeas"></i>
                                  </button>
                                </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>
    