.sectionAllIdeas{
    background-color: #fff;
    padding: 1rem;
}
.sectionAllIdeas .search{
    display: flex;
    align-items: center;
}
.sectionAllIdeas .search .container-write-idea-board{
    width: 100%;
}
.sectionAllIdeas .search .container-write-idea-board .group-message-send{
    margin-bottom: 0px !important;
}