<div class="containerAplication">
    
    <div class="sectionGeneral container-fluid">
        <div class="row flex-xl-nowrap container-app ">
            <div class="col-12 col-md-3 col-xl-3 bd-sidebar barLateral">
                <div class="container containerNavigationLateral">
                    <app-navigation-lateral></app-navigation-lateral>
                </div>
            </div>
            <div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content clateralRightBoard">
                <div class="containerRoutesAplication">
                    <router-outlet></router-outlet>
                </div>
                <div class="container contaierFooterAplication ">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
