<section class="sectionDeadIdeas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-6  container-link-return p-2 text-center">
                <a [routerLink]="['/home']" class="link"><i class="fas fa-arrow-left"></i> Volver al inicio</a>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 search">
                <div class="col-auto container-write-idea-board">
                    <div class="input-group group-message-send mb-2">
                        <!-- <form action="" method="POST" class="form-New-Message"> -->
                        <div class="input-group input-group-search">        
                            <input type="search" class="form-control inputFilterSearch" id="inputFilterSearch" placeholder="Buscar idea por usuario" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-prepend btnFilterSearch" id="btnFilterSearch" (click)="filterIdeas()">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="filterAddIdeasDead">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="filter card-columns">
                            <div class="cardContainerIdeadDead  card" *ngFor="let idea of ideas; index as i" >          
                                    <div class="containerIdeaCredentials col-sm-12 col-lg-9 col-xl-9" > <!--Filter *ngIf -->
                                        <div class="imgUserInChat" >
                                            <img class="imgPerfilChat" [src]="'assets/img/userPerfil.png'" alt="" >
                                        </div>
                                        <div class="containerNameVotes" >  
                                            <h3 class="nameUserIdea">{{idea.user}}
                                               
                                            </h3>
                                        </div>
                                        <p class="ideaMessageChatUsers ideaMessageChatUsersIdeasDead">
                                            <a [routerLink]="['/idea', i]" class="paragraphIdea">{{idea.description}}</a>
                                        </p>
                                        <div class="containerDisplayReply containerDisplayReplyIdeasDead">
                                            <h4 class="replyTitle">Comentarios
                                            </h4>
                                            <ul class="elementReply list-group list-group-flush">
                                                    
                                            </ul>
                                        </div>
                                        <hr>
                                        <button class="btn btn-block btnSeeMoreMessage btnSeeMoreMessageIdeasDead" id="btnSeeMoreMessage" (click)="collapseIdea(i)">
                                            Ver
                                            <i class="fas fa-comment-alt answerMessage" id="answerMessage"></i>
                                            <i class="fas fa-plus iconMoreMinus iconMoreMinusIdeasDead"></i>
                                        </button>
                                    </div>
                                </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</section>
