.sectionDeadIdeas{
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.sectionDeadIdeas .container-link-return{
    display: flex;
    align-items: flex-start;
}
.sectionDeadIdeas .search{
    display: flex;
    align-items: center;
}

.sectionDeadIdeas .search .container-write-idea-board{ 
    width: 100%;
}
.sectionDeadIdeas .search .container-write-idea-board .group-message-send{
    margin-bottom: 0px !important;
}
.sectionDeadIdeas .search .container-write-idea-board .group-message-send .input-group-search .inputFilterSearch{
    border-radius: 50px;
}
.sectionDeadIdeas .search .container-write-idea-board .group-message-send .input-group-search .btnFilterSearch{
    border-radius: 50px;
    width: 38px;
    margin-left: 10px;
}
.sectionDeadIdeas .search .container-write-idea-board .group-message-send .input-group-search .btnFilterSearch span{
    width: 40px;
    height: auto;
    border-radius: 50px;
    cursor: pointer;
}

.filterAddIdeasDead .filter{
    padding-top: 1rem;
}

.filterAddIdeasDead .cardContainerIdeadDead{
    width: auto;
    border: transparent;
    background-color: transparent;
    margin-bottom: 0px;
}
.filterAddIdeasDead .container .row .allIdeasDeadContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: .6rem;
}
.filterAddIdeasDead .filter .containerIdeaCredentials{
    position: relative;
    margin-left: 4.1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.125);
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}
.filterAddIdeasDead .filter .containerIdeaCredentials hr{
    margin-top: .5rem;
    margin-bottom: 0rem;
}
.filterAddIdeasDead .filter .containerIdeaCredentials::before,.filterAddIdeasDead .filter .containerIdeaCredentials::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 15px 12px 0px;
    border-style: solid;
    border-color: transparent #fafafa;
    left: -14px;
    z-index: 1000;
    top: 8px;   
}
.filterAddIdeasDead .filter .containerIdeaCredentials::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 15px 12px 0px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.125);
    left: -15px;
    z-index: 1000;
    top: 8px;
}
.filterAddIdeasDead .filter .containerIdeaCredentials .imgUserInChat{
    position: absolute;
    top: 0;
    left: -65px;
    width: 45px;
    height: 45px;
    display: flex;
    align-content: center;
    align-items: center;
}
.filterAddIdeasDead .filter .containerIdeaCredentials .imgUserInChatt img{
    width: 98% !important;
}
.filterAddIdeasDead  .containerIdeaCredentials .containerNameVotes{
    width: 100%;
}
.filterAddIdeasDead  .containerIdeaCredentials .containerNameVotes .nameUserIdea{
    font-size: 0.85rem;
    padding: 0 0 7px 0;
    clear: both;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #444;
}
// .filterAddIdeasDead  .containerIdeaCredentials .ideaMessageChatUsers{
//     padding: 2px 5px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     text-align: justify;
//     display: block;
//     font-size: 0.8rem;
//     transition: all .5s;
// }
.filterAddIdeasDead .containerIdeaCredentials .ideaMessageChatUsers .paragraphIdea{
    color: #444;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: justify;
}
.filterAddIdeasDead .containerIdeaCredentials .containerDisplayReply{
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    border-top: 1px dotted #ddd;
}
.filterAddIdeasDead .containerIdeaCredentials .containerDisplayReply .replyTitle{
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 5px;
}
.filterAddIdeasDead .containerIdeaCredentials .btnSeeMoreMessage{
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}
.filterAddIdeasDead .containerIdeaCredentials .btnSeeMoreMessage .answerMessage{
    color: #607d8b;
    font-size: .8rem;
    cursor: pointer;
    position: absolute;
    right: 30px;
}
.filterAddIdeasDead .containerIdeaCredentials .btnSeeMoreMessage .iconMoreMinus{
    position: absolute;
    right: 10px;
    color: #444;
}
