<section class="sectionFinishIdeas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-6  container-link-return p-2 text-center">
                <a [routerLink]="['/home']" class="link"><i class="fas fa-arrow-left"></i> Volver al inicio</a>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 search">
                <div class="col-auto container-write-idea-board">
                    <div class="input-group group-message-send mb-2">
                        <!-- <form action="" method="POST" class="form-New-Message"> -->
                        <div class="input-group input-group-search">        
                            <input type="search" class="form-control inputFilterSearch" id="inputFilterSearch" placeholder="Buscar idea por usuario" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-prepend btnFilterSearch" id="btnFilterSearch" (click)="filterIdeas()">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="filterFinishIdeas">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="filter card-columns">
            <div class="cardContainerFinishIdeas card" *ngFor="let idea of ideas; index as i" >
              <div class="containerIdeaCredentialsFinish col-sm-12 col-lg-9 col-xl-9"> <!--Filter *ngIf -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
