.sectionFinishIdeas{
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.sectionFinishIdeas .container-link-return{
    display: flex;
    align-items: flex-start;
}
.sectionFinishIdeas .search{
    display: flex;
    align-items: center;
}

.sectionFinishIdeas .search .container-write-idea-board{ 
    width: 100%;
}
.sectionFinishIdeas .search .container-write-idea-board .group-message-send{
    margin-bottom: 0px !important;
}
.sectionFinishIdeas .search .container-write-idea-board .group-message-send .input-group-search .inputFilterSearch{
    border-radius: 50px;
}
.sectionFinishIdeas .search .container-write-idea-board .group-message-send .input-group-search .btnFilterSearch{
    border-radius: 50px;
    width: 38px;
    margin-left: 10px;
}
.sectionFinishIdeas .search .container-write-idea-board .group-message-send .input-group-search .btnFilterSearch span{
    width: 40px;
    height: auto;
    border-radius: 50px;
    cursor: pointer;
}
