<div class="container containerDates">
  <div class="row">
    <div class="col-12">
      <div class="dates row">
        <div class="imgUser col-4">
            <img [src]="'assets/img/userPerfil.png'" alt="">
        </div>
        <div class="datesUser col-8">
          <ul class="list-group list-group-flush" *ngFor="let usuario of usuarios; index as i">
            <li class="list-group-item datesUserList"> {{usuario.name}} {{usuario.lastName}} </li>
            <li class="list-group-item datesUserList"> {{usuario.email}} </li>
            <li class="list-group-item datesUserList"><a href="#">Perfil</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
