<div class="container containerDates">
  <div class="row">
    <div class="col-12">
      <div class="dates row">
        <div class="imgUser col-4" >
            <img [src]="'assets/img/userPerfil.png'" alt="">
        </div>
        <div class="datesUser col-8">
          <ul class="list-group list-group-flush" *ngFor="let user of users, first as isFirst">
            <li class="list-group-item datesUserList" *ngIf="isFirst"> {{user.name}} {{user.lastName}} </li>
            <li class="list-group-item datesUserList" *ngIf="isFirst"> {{user.email}} </li>
            <li class="list-group-item datesUserList" *ngIf="isFirst"><a href="#">Perfil</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
