
<section class="sectionWriteIdeas">
    <div class="container containerIdeas">
        <div class="row">
        <div class="col">
            <div class="containerWriteIdeas">
            <div class="containerIdeaGeneral row">
                <div class="col-auto containerWriteIdeaBoard">
                    <label class="sr-only" for="inlineFormInputGroup"></label>
                    <div class="input-group groupMessageSend mb-2">
                        <form action="" class="formNewMessage">
                            <textarea name="idea" id="" cols="30" rows="10" class="spaceWriteIdea" placeholder="Cual es tu idea?" required></textarea>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <button class="btn btnPlusIdea" type="submit" value="Enviar Comentario" >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="sectionBoard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-6 cardIdeas">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 cardIdeas">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 cardIdeas">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 cardIdeas">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionModal">
    <div class="aprobadas" id="aprobadas" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btnClose" id="btnClose">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <img src="" alt="" class="rounded-circle">
                    <span class="nameWrhiteIdea"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionLinksIdeas">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-xl-6 containerLinkIdeas containerIdeasFinishLink">
                <div class="ideaFinishLink">
                    <a href="" class="ideasFinalizadas">Ideas Finalizadas</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-6 containerLinkIdeas containerIdeasDeadLink">
                <div class="ideaDeadLink">
                    <a href="" class="ideasMuertas">Ideas Muertas</a>
                </div>
            </div>
        </div>
    </div>
</section>

