//Variables
$colorSectionWrite : #fff;
$colorSections : #ddd;
$colorBtnIdeas: #263238;
//Formulario donde se escriben las ideas
.sectionWriteIdeas{
    padding-top: 20px;
    padding-bottom: 12px;
    background-color: $colorSectionWrite;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.sectionWriteIdeas .containerIdeas{
    width: 100%;
    height: auto;
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: left;
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard{
    width: 100%;
    padding: 0;
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend{
    flex-wrap: nowrap;
    //margin-bottom: 0;
    border-radius: 3px;
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .spaceWriteIdea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    //border-radius: 3px 0px 0px 3px;
    width: 60%;
    border-radius: 50px;
    padding: .5rem;
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text{
    padding: 0;
    background-color: #212943;
    //border-radius: 0px 2px 2px 0px;
    border-color: #212943;
    border-radius: 50px;
    margin-left: 10px;
    
}
.sectionWriteIdeas .containerIdeas .containerWriteIdeas .containerIdeaGeneral .containerWriteIdeaBoard .groupMessageSend .formNewMessage .input-group-text .btnPlusIdea{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    align-items: center;
}

//Board o tablero de ideas destacadas
.sectionBoard{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    position: relative;
    background-color: $colorSections;
}
.sectionBoard .cardIdeas{
    margin-bottom: 1.8rem;
    height: calc(34vh);
}
.sectionBoard .cardIdeas .card{
    height: 100%;
}
.sectionBoard .cardIdeas .card .card-body{
    padding: 0;
}
.sectionBoard .cardIdeas .card .card-body .card-title{
    padding: .5rem;
    border-bottom: 1px solid $colorSections;
    color: #444;
    font-weight: 500;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas{
    padding: .8rem;
    height: 81%;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel{
    height: 100%;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner{
    height: 100%;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner .carousel-item{
    height: 100%;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner .carousel-item .itemCardContainer{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner .carousel-item .itemCardContainer .itemCard{
    width: 60%;
    height: 95%;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner .carousel-item .itemCardContainer .itemCard .containerNameVotes{
    width: 25px;
    height: 31px;
    padding: 0;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner .carousel-item .itemCardContainer .itemCard .ideaMessageChatUsers{
    display: block;
    padding: 5px 8px 5px 8px;
    font-size: .8rem;
    color: #555;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.sectionBoard .cardIdeas .card .card-body .containerCardIdeas .carousel .carousel-inner .carousel-item .itemCardContainer .itemCard .btnItemCard{
    position: absolute;
    bottom: 0;
    background-color: #fefefa;
    border-radius: 0px 0px 3px 3px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
//Modal
.sectionModal{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(12, 12, 12, 0.5);
    top: 0;
    z-index: 10000;
    display: none;
}

//Links ideas muertas y finalizadas
.sectionLinksIdeas{
    widows: 100%;
}
.sectionLinksIdeas .containerLinkIdeas{
    padding-top: .8rem;
    padding-bottom: .8rem;
    position: relative;
    &.containerIdeasFinishLink{
        display: flex;
        justify-content: flex-start;
    }
    &.containerIdeasDeadLink{
        display: flex;
        justify-content: flex-end;
    }
}
.sectionLinksIdeas .containerLinkIdeas .ideaFinishLink{
    width: 50%;
    padding: 1rem;
    text-align: center;
    background-color: $colorBtnIdeas;
    border-radius: 3px;
}
.sectionLinksIdeas .containerLinkIdeas .ideaFinishLink::before,.sectionLinksIdeas .containerLinkIdeas .ideaFinishLink::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #263238;
    left: 3px;
    z-index: 999;
    top: 17px;
}
.sectionLinksIdeas .containerLinkIdeas .ideaFinishLink::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #263238;
    left: 2px;
    z-index: 999;
    top: 17px;
}
.sectionLinksIdeas .containerLinkIdeas .ideaDeadLink{
    width: 50%;
    padding: 1rem;
    text-align: center;
    background-color: $colorBtnIdeas;
    border-radius: 3px;   
}
.sectionLinksIdeas .containerLinkIdeas .ideaDeadLink::before,.sectionLinksIdeas .containerLinkIdeas .ideaDeadLink::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #263238;
    right: 50%;
    z-index: 999;
    top: 17px;
}
.sectionLinksIdeas .containerLinkIdeas .ideaDeadLink::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 13px 10px 0px;
    border-style: solid;
    border-color: transparent #263238;
    right: 50.1%;
    z-index: 999;
    top: 17px;
}